.details {
    background-color: transparent;
    border: 2px solid #323ca8;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transition: .5s;
    
    > h2 > span{
        font-style: italic;
        
    }
}

:is(h2, span){
    background-color: transparent;
}

.details:hover{
    background-color: rgb(43, 43, 43);
    cursor: pointer;
}